# PlatformIO build artifacts
.pio/
/.vscode/
/.idea/

# Node/npm
node_modules/

# Backup/configs folder should not be uploaded
ayarlar yedek/

# OS files
Thumbs.db
desktop.ini

# Logs
*.log
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.vscode
.vscode/c_cpp_properties.json
htmljs/.sass-cache/
htmljs/build/
htmljs/node_modules/
.vscode/launch.json
.DS_Store
.vscode/*.db
.vscode/.browse.c_cpp.db*
